@model ECommerce_Project.Models.UserModel

@{
    ViewBag.Title = "Signup";
}
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

@Html.Raw(ViewBag.RegisterMessage)

<div class="form-signin" style="height:510px" >
    @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { @class = "signup-form" }))
    {
        @Html.AntiForgeryToken()

        <img class="mb-4 login-brand " src="~/Image/BrandLogo/BrandLogo.png" alt="" width="70" height="60"> <b>E - SHOP</b>
        <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-floating">

            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "name", id = "floatingInput" })
            <label for="floatingInput">Full name</label>
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "name@example.com", id = "floatingInput" })
            <label for="floatingInput">Email address</label>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" }) <!-- Validation message -->
        </div>

        <div class="form-floating">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", id = "floatingPassword" })
            <label for="floatingPassword">Password</label>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" }) <!-- Validation message -->
        </div>

        <div class="form-floating " style="margin-bottom:6px;">
                @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "Admin", "Customer" }), "Select Role", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>


        <button class="btn btn-outline-primary w-100 py-2 mb-2" type="submit">Register</button>

        <div>
            Already have an account?
            @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-outline-primary w-80" })
        </div>
    }
</div>

